<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <main>
        <div class="container-login">
            <div class="box-forms">
            <h2>Cadastro</h2>
                <form method="POST" action="processa_cadastro">
                    {{ form.csrf_token() }}

                    <div class="inputs">

                        <label for="email">E-mail</label>
                        {{form.email}}
                        
                        <label for="nome">Nome</label>
                        {{form.nome}}

                        <label for="senha">Senha</label>
                        {{form.senha}}
                    </div>

                    {% if mensagem_erro %}
                    <h3 class="msg_erro">
                        {{mensagem_erro}}
                    </h3>
                    {% endif %}
                    <button class="voltar_login" id="" type="submit">Cadastrar Usuário</button>
                </form>
                <a href="/"><button class="voltar_login2" >Voltar para login</button></a>
                
            </div>
        </div>
    </main>

</body>

</html>