<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Lista de administradores</title>
</head>

<body>
    {% if lista %}
    {% for adm in lista %}
        <table class="lista_admin">
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
            </tr>
            <tr>
                <td>{{ adm.1 }}</td>
                <td>{{ adm.2 }}</td>
            </tr>
        </table>
    {% endfor %}
    {% endif %}
</body>

</html>