{% extends 'main/index.html' %}

{% block content %}
<div class="container_mostrar_contatos">
    <h1>Retorno de usuários</h1>
    {% if sql %}
    <table>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Mensagem</th>
            <th>Situação</th>
            <th>Ação</th>
        </tr>
        {% for contato in sql %}
        <tr>
            <td>{{contato.1}}</td>
            <td>{{contato.2}}</td>
            <td>{{contato.3}}</td>
            <td>teste</td>
            <!-- passa o id para a url e usando ele em atribuir() -->
            <td class="btn-editar"><a href="/atribuir/{{contato.0}}">Atribuir</a></td>
        </tr>
        {% endfor %}
        <!-- <tr>
            <td colspan="5">Sem dados no momento</td>
        </tr> -->
    </table>
    {% else %}
    <h3 class="tabela_meus_contatos">Nenhum contato no momento!</h3>
    {% endif %}
</div>
{% endblock %}