{% extends 'main/index.html' %}

{% block content %}
<div class="lista_chamados">
    <h1>Painel de chamados</h1>
    {% if sql %}
    <table>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Tipo de serviço</th>
            <th>Descricão</th>
            <th>Situação</th>
            <th>Ação</th>
        </tr>
        {% for contato in sql %}
        <tr>
            <td>{{contato.1}}</td>
            <td>{{contato.2}}</td>
            <td>{{contato.3}}</td>
            <td>{{contato.4}}</td>
            <td>{{contato.5}}</td>
            <!-- passa o id do usuario logado para a url e usando ele em atribuir() -->
            <td class="btn-editar"><a href="/atribui_atendimento/{{contato.0}}">Atribuir</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3 class="box_mensagem">Nenhum chamado aberto no momento!</h3>
    {% endif %}
</div>
{% endblock %}