{% extends 'main/index.html' %}

{% block content %}
<div class="lista_chamados">
    <h1>Usuários cadastrados</h1>

    {% if sql %}
    <table>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Tipo</th>
            <th colspan="2">Opções</th>
        </tr>
        {% for usuario in sql %}
        <tr>
            <td>{{usuario.1}}</td>
            <td>{{usuario.2}}</td>
            {% if usuario.4 == 'job' %}
            <td>Usuário comum</td>
            {% elif usuario.4 == 'tec' %}
            <td>Técnico</td>
            {% else %}
            <td>Administrador</td>

            {% endif %}
            <td><button class="btn-editar"><a href="/page_atualizar_usuario/{{usuario.0}}">Editar</a></button></td>
            <td><button class="btn-excluir"><a href="/excluir_usuario/{{usuario.0}}">Excluir</a></button></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3 class="box_mensagem">Nenhum usuário cadastrado no momento!</h3>
    {% endif %}
</div>
{% endblock %}